page-start {
    ion-content {
        background-image: url('../assets/imgs/start.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        img {
            position: relative;
            top: 38%;
            transform: translateY(250%);
            width: 60%;
        }
        h1 {
            @include fontSFD(200);
            position: relative;
            top: 33%;
            font-size: 4.9vw;
            color: white;
        }
        button {
            position: relative;
            top: 43%;
        }
    }
}