page-start {
    ion-content {
        background-image: url('../assets/imgs/start.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        h1 {
            position: relative;
            color: white;
            top: 53%;
            font-family: 'Champagne & Limousines';
            font-size: 5.9vw;
        }
    }
}