page-login {
    ion-content {
        text-align: center;
    }
    img {
        margin-top: 10%;
        width: 30%;
    }
    h1 {
        @include fontSFD(200);
        color: map-get($colors, primary);
        margin: 0px 0px 50px 0px;
    }
    .label-md[floating] {
        @include fontSFD();
        text-align: center;
    }
    .list-md .item-block .item-inner {
        border-color: map-get($colors, primary);
    }
    button {
        height: 50px !important;
        font-size: 4.8vw !important;
        margin-top: 10% !important;
    }
    ion-input,
    ion-textarea {
        @include fontSFD(200);
        color: map-get($colors, primary);
    }
    .item-input-has-focus .item-inner .input-wrapper .label-md {
        text-align: left !important;
    }
}