// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../assets/fonts/ChampagneLimousines.woff2') format('woff2'), url('../assets/fonts/ChampagneLimousines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../assets/fonts/ChampagneLimousines-Bold.woff2') format('woff2'), url('../assets/fonts/ChampagneLimousines-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../assets/fonts/ChampagneLimousines-BoldItalic.woff2') format('woff2'), url('../assets/fonts/ChampagneLimousines-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../assets/fonts/ChampagneLimousines-Italic.woff2') format('woff2'), url('../assets/fonts/ChampagneLimousines-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('../assets/fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'), url('../assets/fonts/SanFranciscoDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('../assets/fonts/SanFranciscoDisplay-Thin.woff2') format('woff2'), url('../assets/fonts/SanFranciscoDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display';
    src: url('../assets/fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'), url('../assets/fonts/SanFranciscoDisplay-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../assets/fonts/SanFranciscoText-Regular.woff2') format('woff2'), url('../assets/fonts/SanFranciscoText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin fontChampagne($fontWeight: normal,
$fontStyle: normal) {
    font-family: 'Champagne & Limousines';
    font-weight: $fontWeight;
    font-style: $fontStyle;
}

@mixin fontSFD($fontWeight: normal,
$fontStyle: normal) {
    font-family: 'San Francisco Display';
    font-weight: $fontWeight;
    font-style: $fontStyle;
    letter-spacing: 2px;
}

@mixin fontSFText {
    font-family: 'San Francisco Text';
    font-weight: normal;
    font-style: normal;
}

body {
    @include fontSFD(100);
    margin: 0px;
    overflow: hidden;
}

.btn {
    @include fontSFD();
    height: 60px;
    width: 80%;
    font-size: 4.8vw;
    margin: 5px auto;
    letter-spacing: 2px;
    color: #fff;
    text-transform: none;
}

.btn_clear {
    @extend .btn;
}

.toolbar-content-md {
    margin-bottom: 10%;
}

.toolbar-background-md {
    background-color: transparent;
    border: none;
}